### for문
 - 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
 - 모든 아이템이 순회되면 for 블록 종료

In [2]:
a = [1,2,4,5,6]

for i in a:
    print(i, i*2)
print('End of for')

1 2
2 4
4 8
5 10
6 12
End of for

In [4]:
# iterable 객체 : 순환(순회)할 수 있는 객체. 값이 여러개가 들어가 있는 것들
# 대표적 : 리스트, 튜플, 집합, 사전, 문자열
for x in 10:   # 숫자는 iterable객체가 아니라서 오류
    print(x)

TypeError: 'int' object is not iterable

In [5]:
a = 'hello world'
for ch in a:
    print(ch)

h
e
l
l
o

w
o
r
l
d

#### 리스트 아이템 출력하기

In [7]:
a = [1,10,3,4,5]
for num in a:
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)
    print('원래 값 : ',num)

2
원래 값 :  1
5.0
원래 값 :  10
4
원래 값 :  3
2.0
원래 값 :  4
6
원래 값 :  5

#### dict의 아이템 출력하기
 - dictionary의 경우 기본적으로 순회하게 되면 key값을 참조
 - keys()함수를 이용하여 key값만 순회 가능
 - values()함수를 이용하여 value값만 순회가능
 - items()함수를 이용하여 tuple형태로 key, value 순회가능

In [27]:
a = {'korea': 'seoul', 'japan':'tokyo','canada':'ottawa'}
for k in a:
    print(k, a[k])   # k는 key값, a[k]는 value값

korea seoul
japan tokyo
canada ottawa

In [28]:
for key in a:
    print(key)

korea
japan
canada

In [29]:
for value in a.values():
    print(value)

seoul
tokyo
ottawa

In [35]:
for key,value in a.items():   # 바로 이것도 되는뎅...
    print(key, value)

korea seoul
japan tokyo
canada ottawa

In [36]:
li = list(a.items())
for key,value in li:
    print(key,value)

korea seoul
japan tokyo
canada ottawa

### for에서 index 사용하기
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출함
- iterable 객체를 리턴(반환)하는 함수
 - range(), reversed(), enumerate(), map()...

#### range 함수
- 리스트를 쉽게 만들 수 있는 내장함수
- 주어진 값에 따라 다양한 결과를 반환

In [41]:
a = list(range(1,201))          # range(시작값,마지막값-1,step(생략가능)) : 범위를 만들어준다
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [42]:
list(range(1,101,5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [47]:
# 1부터 100 사이의 5의 배수만을 갖는 리스트를 생성하시오.
list(range(5,101,5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [49]:
for v1 in range(10):     # 0부터 9까지
    print('vi :',v1)

vi : 0
vi : 1
vi : 2
vi : 3
vi : 4
vi : 5
vi : 6
vi : 7
vi : 8
vi : 9

In [54]:
for v2 in range(1,11):
    print('v2 :',v2)

v2 : 1
v2 : 2
v2 : 3
v2 : 4
v2 : 5
v2 : 6
v2 : 7
v2 : 8
v2 : 9
v2 : 10

In [55]:
for v3 in range(1,11,2):
    print('v3 :',v3)

v3 : 1
v3 : 3
v3 : 5
v3 : 7
v3 : 9

In [62]:
# 1~100까지의 합
print('1~100까지의 합:',sum(range(1,101)))    # sum 함수에 바로 넣어버리기

# 1~100안에서 3의 배수의 합을 구하시오
# 확인할 때 list(range(0,101,3)) iterable객체니까 리스트로 확인
print('1~100안에서 3의 배수의 합:',sum(range(3,101,3)))

1~100까지의 합: 5050
1~100안에서 3의 배수의 합: 1683

In [37]:
a = [1,2,3,4,5]
# for num in a:
#     print(num)

# 데이터분석에서 enumerate() 가 많이 쓰인다.
for index, num in enumerate(a):   # 순서대로 인덱스를 부여하는 것이 enumerate
                                  # 순번이 붙어진 데이터를 얻을 수 있음. 순번이 필요할 때가 있다
    if index > 3:
        print('index :',index,'num :',num)

index : 4 num : 5

#### for 연습

In [65]:
names = ['Kim','Park','Lee','Choi','Yoo']

for name in names:
    print('You are ',name)

You are  Kim
You are  Park
You are  Lee
You are  Choi
You are  Yoo

In [68]:
word = 'dreams'

for s in word:
    print('word :',s)

word : d
word : r
word : e
word : a
word : m
word : s

In [73]:
# 소문자를 대문자로 출력
greeting = 'GoodMorning'

for g in greeting:
    if g.isupper():
        print(g)
    else:
        print(g.upper())

G
O
O
D
M
O
R
N
I
N
G

In [74]:
# 소문자를 대문자로 대문자를 소문자로 바꾸기
greeting = 'GoodMorning'

for g in greeting:
    if g.isupper():
        print(g.lower())
    else:
        print(g.upper())

g
O
O
D
m
O
R
N
I
N
G

In [82]:
# for - else 실습
# 반복문이 정상적으로 수행된 경우 else 블럭 수행
members = [14,3,4,5,10,24,37,15,36,38]

for num in members:
    if num == 33:
        print('found : 33!')
        break
    else:
        print('not found : ',num)
else:
    print('Not found .....')    # 그냥 print랑은 다름. for문에서 조건 찾아서 중간에 끝나면 찍히지 않는다.

not found :  14
not found :  3
not found :  4
not found :  5
not found :  10
not found :  24
not found :  37
not found :  15
not found :  36
not found :  38
Not found .....

### loop 중첩
- 중첩은 무한히 가능하다.
- 반복 횟수는 외부루프 X 내부루프

In [84]:
a = [1,2,4]
for i in a:        #            ┐ 외부루프
    for j in a:    # ┐ 내부루프  │ 
        print(i*j) # ┘          ┘

1
2
4
2
4
8
4
8
16

### 구구단 출력하기
2 * 1 = 2

2 * 2 = 4

......

In [85]:
x = [2,3,4,5,6,7,8,9]
y = [1,2,3,4,5,6,7,8,9]

for i in x:
    for j in y:
        print(i,'*',j,'=',i*j)      # 총 8 * 9 = 72 번 수행

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [90]:
# [문제 1] while을 이용하여 구구단을 위와 같이 출력하시오.
x = [2,3,4,5,6,7,8,9]
y = [1,2,3,4,5,6,7,8,9]
     
i=0
while i < len(x):
    j=0
    while j < len(y):
        print(x[i],'*',y[j],'=',x[i]*y[j])
        j += 1
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [122]:
# [문제 2] 1~100까지의 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.

# for num in range(1,101):
#     if num%2 == 0:
#         print('2의 배수: ',num)
#     if num%11 == 0:
#         print('11의 배수: ',num)
         
nums = list(range(1,101))
for x in nums:
    if x%2==0 or x%11==0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [119]:
# [문제 3] a = [22,1,3,4,7,98,21,55,87,99,19,20,45] 에서 
# 최대값과 최소값을 찾으시오(sorted, sort 사용 금지)

a = [22,1,3,4,7,98,21,55,87,99,19,20,45]

_max = a[0]
_min = a[0]
for temp in a[1:]: # a 대신 a[1:] 하는 이유?
    if temp > _max:
        _max = temp
    if temp < _min:
        _min = temp
print('최대값 :',_max,', 최소값 :',_min)

최대값 : 99 , 최소값 : 1

In [124]:
# [문제 4] a = [22,1,3,4,7,98,21,55,87,99,19,20,45] 에서 
# 평균을 구하시오.

a = [22,1,3,4,7,98,21,55,87,99,19,20,45]

# for문 사용
_sum = 0
for i in a:
    _sum += i
print(_sum/len(a))

# while문 사용
i=0
_sum = 0
while i < len(a):
    _sum += a[i]
    i += 1
print(_sum/len(a))

37.0
37.0

#### enumerate

In [127]:
days = ['월','화','수','목','금']
enum_days = enumerate(days)
print(type(enum_days))
      
print(list(enum_days))

# 인덱스를 지정할 수 있다.
enum_days = enumerate(days,4)
print(list(enum_days))

<class 'enumerate'>
[(0, '월'), (1, '화'), (2, '수'), (3, '목'), (4, '금')]
[(4, '월'), (5, '화'), (6, '수'), (7, '목'), (8, '금')]

In [131]:
enum_days = enumerate(days)

for enum_days in enumerate(days):
    print(enum_days)

for index, enum_days in enumerate(days, 7):
    print(index, enum_days)

(0, '월')
(1, '화')
(2, '수')
(3, '목')
(4, '금')
7 월
8 화
9 수
10 목
11 금

#### List Comprehension 리스트내포

In [135]:
numbers = []

for n in range(1,101):
    numbers.append(n)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [136]:
# list Comprehension 방식
numbers2 = [ x for x in range(1,101) ]   # 리스트 상에 있는 x를 numbers2의 요소로 하나씩 추가
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]