### 딕셔너리 자료형
- 순서가 없다.
- 중복 허용하지 않는다.
- 수정 가능
- 삭제 가능
#### 딕셔너리는 JSON과 비슷
- 원소를 Key, Value의 한쌍으로 표현한다.

In [4]:
# 선언
a = {'name':'Lee', 'phone':'010-1234-1234', 'birth':'991010'}
print('a :',type(a),a)
# 값은 중복되더라도 키는 중복되서는 안된다.
b = {0:'Hello Python!', 1:'Hello Coding', 2:'Hello Coding'}
print(b)
c = {'arr':[1,2,3,4]}

a : <class 'dict'> {'name': 'Lee', 'phone': '010-1234-1234', 'birth': '991010'}
{0: 'Hello Python!', 1: 'Hello Coding', 2: 'Hello Coding'}

In [9]:
# 출력
print('a:',a['name'])
# print('a:',a['age']) # 데이터가 없을 경우 에러 발생
# get으로 접근시 안전하다.
print('a:',a.get('age',"i don't know")) # 에러 없이 None 출력
print(b[0])
print(b.get(0))
print(c['arr'])
print(c['arr'][2])

a: Lee
a: None
Hello Python!
Hello Python!
[1, 2, 3, 4]
3

In [12]:
# 딕셔너리 추가
a['age'] = 30
print('a:',a)
a['addr'] = '인천'
print('a:',a)
a['rank'] = (1,2,3)
print('a:',a)

a: {'name': 'Lee', 'phone': '010-1234-1234', 'birth': '991010', 'age': 30, 'addr': '인천'}
a: {'name': 'Lee', 'phone': '010-1234-1234', 'birth': '991010', 'age': 30, 'addr': '인천'}
a: {'name': 'Lee', 'phone': '010-1234-1234', 'birth': '991010', 'age': 30, 'addr': '인천', 'rank': (1, 2, 3)}

In [18]:
# keys, values, items
print('a:',a.keys(), type(a.keys()))
# print(a.keys()[3])  # 에러 발생 리스트형태가 아니기 때문에
print(list(a.keys()))   # 리스트로 형변환
print(list(a.keys())[3])

a: dict_keys(['name', 'phone', 'birth', 'age', 'addr', 'rank']) <class 'dict_keys'>
['name', 'phone', 'birth', 'age', 'addr', 'rank']
age

In [20]:
temp = list(a.keys())
print(temp)            # 이제 슬라이싱을 할 수 있겠다!
print(temp[1:3])

['name', 'phone', 'birth', 'age', 'addr', 'rank']
['phone', 'birth']

In [23]:
print('a:',a.values(), type(a.values()))
print(list(a.values()))

temp_v = list(a.values())
print(temp_v[1:5])

a: dict_values(['Lee', '010-1234-1234', '991010', 30, '인천', (1, 2, 3)]) <class 'dict_values'>
['Lee', '010-1234-1234', '991010', 30, '인천', (1, 2, 3)]
['010-1234-1234', '991010', 30, '인천']

In [25]:
# items()
print(a.items())
print(list(a.items()))

dict_items([('name', 'Lee'), ('phone', '010-1234-1234'), ('birth', '991010'), ('age', 30), ('addr', '인천'), ('rank', (1, 2, 3))])
[('name', 'Lee'), ('phone', '010-1234-1234'), ('birth', '991010'), ('age', 30), ('addr', '인천'), ('rank', (1, 2, 3))]

In [28]:
print('name' in a)
print('name' in b)
print('Lee' in a)

True
False
False