In [5]:
def func_args(*args):
    tup = ()
    for i in args:
        tup += (i,)
    print(type(tup))
    return tup

In [6]:
print(func_args(1,3,5,7,9,2,4,6,8,0))

<class 'tuple'>
(1, 3, 5, 7, 9, 2, 4, 6, 8, 0)

In [8]:
def Cal(a,b):
    plus = a+b
    minus = a-b
    mul = a*b
    return plus, minus, mul
    return (plus, minus, mul)

In [9]:
print(type(Cal(2,3)))
print(Cal(2,3))

<class 'tuple'>
(5, -1, 6)

In [95]:
def return_fruit(color):
    if color=='red':
        return 'apple'
    elif color=='yellow':
        return 'banana'
    elif color=='green':
        return 'water melon'
    else:
        return "I don't know"

In [96]:
print(return_fruit('red'))

apple

In [99]:
fruit_dic = {
    'red': 'apple',
    'yellow': 'banana',
    'green': 'water melon'
}
def return_fruit(color):
    return fruit_dic.get(color, "I don't know")
res = return_fruit('red')
print(res)

apple

In [49]:
def return_fruit(dic,select):
    if select == 'red':
        return dic['red']
    elif select == 'yellow':
        return dic['yellow']
    elif select == 'green':
        return dic['green']
    else:
        return "I don't know"

In [51]:
fruit_dic = {
    'red': 'apple',
    'yellow': 'banana',
    'green': 'water melon'
}

# print(fruit_dic['red'])
print(return_fruit(fruit_dic,'red'))

apple

In [65]:
def fibonacci(num):
    a, b = 0, 1
    i = 0
    print(a,b,end=' ')
    while i<num:
        a, b = b, a+b
        print(b,end=' ')
        i += 1
        
# print(fibonacci(10))
fibonacci(10)

0 1 1 2 3 5 8 13 21 34 55 89

In [66]:
def fibonacci(num):
    a, b = 0, 1
    _list = [a,b]
    i = 0
    while i<num:
        a, b = b, a+b
        _list.append(b)
        i += 1
    return _list

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [79]:
def var_arg(*args):
    if len(args)==1:
        return args[0]*args[0]
    else:
        return args[0]*args[1]

print(var_arg(5))
print(var_arg(5,2))

25
10

In [104]:
def default_arg(x,y=None):
    return x * (y if y else x)

print(default_arg(10))
print(default_arg(10,2))

100
20

In [81]:
a = 10
b = 5

print('a가 더 큰 수'if a>b else 'b가 더 큰 수')

a가 더 큰 수

In [82]:
def default_arg(a=10,b=5):
    print('a가 큰 수' if a>b else 'b가 더 큰 수')
    
default_arg()

a가 큰 수

In [101]:
import m_test as mt
print(dir(mt))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'add', 'name']

In [103]:
import m_test as mt
result = mt.add(5,3)
print(result)

8

In [100]:
nums = [1, 2, 3, 6, 8, 9, 10, 11, 13, 15]

def ft(n):
    if n>=5 and n<=10:
        return n
    
list(filter(ft, nums))

list(filter(lambda n : n>=5 and n<=10,nums))

[6, 8, 9, 10]

In [101]:
_list = []
for i in range(1,11):
    if i%3==0:
        _list.append('박수')
    else:
        _list.append(i)
print(_list)

[1, 2, '박수', 4, 5, '박수', 7, 8, '박수', 10]

In [141]:
nums = [1,2,3,4,5,6,7,8,9,10]

def tsn(n):
    if n%3==0:
        return '박수'
    else:
        return n

print(list(map(tsn,nums)))

[1, 2, '박수', 4, 5, '박수', 7, 8, '박수', 10]

In [142]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i}x{j}={i*j}', end='\t')
    print()

2x1=2	2x2=4	2x3=6	2x4=8	2x5=10	2x6=12	2x7=14	2x8=16	2x9=18
3x1=3	3x2=6	3x3=9	3x4=12	3x5=15	3x6=18	3x7=21	3x8=24	3x9=27
4x1=4	4x2=8	4x3=12	4x4=16	4x5=20	4x6=24	4x7=28	4x8=32	4x9=36
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25	5x6=30	5x7=35	5x8=40	5x9=45
6x1=6	6x2=12	6x3=18	6x4=24	6x5=30	6x6=36	6x7=42	6x8=48	6x9=54
7x1=7	7x2=14	7x3=21	7x4=28	7x5=35	7x6=42	7x7=49	7x8=56	7x9=63
8x1=8	8x2=16	8x3=24	8x4=32	8x5=40	8x6=48	8x7=56	8x8=64	8x9=72
9x1=9	9x2=18	9x3=27	9x4=36	9x5=45	9x6=54	9x7=63	9x8=72	9x9=81

In [37]:
print([(lambda x,y:'{}x{}={}'.format(x,y,x*y))(x,y) for x in range(2,10) for y in range(1,10)])

['2x1=2', '2x2=4', '2x3=6', '2x4=8', '2x5=10', '2x6=12', '2x7=14', '2x8=16', '2x9=18', '3x1=3', '3x2=6', '3x3=9', '3x4=12', '3x5=15', '3x6=18', '3x7=21', '3x8=24', '3x9=27', '4x1=4', '4x2=8', '4x3=12', '4x4=16', '4x5=20', '4x6=24', '4x7=28', '4x8=32', '4x9=36', '5x1=5', '5x2=10', '5x3=15', '5x4=20', '5x5=25', '5x6=30', '5x7=35', '5x8=40', '5x9=45', '6x1=6', '6x2=12', '6x3=18', '6x4=24', '6x5=30', '6x6=36', '6x7=42', '6x8=48', '6x9=54', '7x1=7', '7x2=14', '7x3=21', '7x4=28', '7x5=35', '7x6=42', '7x7=49', '7x8=56', '7x9=63', '8x1=8', '8x2=16', '8x3=24', '8x4=32', '8x5=40', '8x6=48', '8x7=56', '8x8=64', '8x9=72', '9x1=9', '9x2=18', '9x3=27', '9x4=36', '9x5=45', '9x6=54', '9x7=63', '9x8=72', '9x9=81']

In [6]:
stu_num = int(input('학생 수를 입력하세요 :'))
score_list = []
i=1
while i<=stu_num:
    print('%d번 학생의 점수: '%i, end=' ')
    score_list.append(int(input()))
    i += 1
    
result = 0
for i in score_list:
    result += i
score_avg = result/stu_num

print('-----------------------------------------------')
print(' 번호\t\t점수\t\t평균과의 차이')
print('-----------------------------------------------')

cnt = 0
i = 0
while i<stu_num:
    print(f' {i+1}\t\t{score_list[i]}\t\t{score_avg - score_list[i]}')
    if score_avg - score_list[i] < 0:
        cnt += 1
    i += 1
    
    
print('-----------------------------------------------')
print(f'전체 평균 : {score_avg}')
print('-----------------------------------------------')
print(f'평균 미만자 수 : {cnt}')
print('-----------------------------------------------')

학생 수를 입력하세요 :4
1번 학생의 점수:  88
2번 학생의 점수:  79
3번 학생의 점수:  85
4번 학생의 점수:  78
-----------------------------------------------
 번호		점수		평균과의 차이
-----------------------------------------------
 1		88		-5.5
 2		79		3.5
 3		85		-2.5
 4		78		4.5
-----------------------------------------------
전체 평균 : 82.5
-----------------------------------------------
평균 미만자 수 : 2
-----------------------------------------------

In [20]:
# 함수로 나누기 

# 학생 점수 입력 함수
def input_score(stu_num):
    score_list = []
    for i in range(1, stu_num+1):
        score_list.append(int(input(str(i) +'번 학생의 점수 :')))
    return score_list

# 평균 구하는 함수
def mean(score):
    score_avg = sum(score) / len(score)
    return score_avg


# 평균 미만자 수 구하는 함수
def under_avg_cnt(score, avg):
    cnt = 0  # 평균 미만자 카운팅하기 위한 변수
    for i in score:
        if i < avg:
            cnt += 1
    return cnt

# 출력화면
def res_output(score,avg,cnt):
    print('------------------------------------')
    print(' 번호 \t 점수 \t 평균과의 차이')
    print('------------------------------------')

    # score_list에는 인덱스는 없고, 점수만 있기 때문에
    # enumerate 이용 : 인덱스를 부여해줌.
    for idx, value in enumerate(score):
        print(f'  {idx+1} \t {value} \t {value - avg:.2f}')


    print('------------------------------------')
    print(f'전체 평균 : {avg}')
    print('------------------------------------')
    print(f'평균 미만자 수 : {cnt}')
    print('------------------------------------')

# main process
num = int(input('학생 수를 입력하세요 :'))

score = input_score(num)
avg = mean(score)

under_cnt = under_avg_cnt(score, avg)
result = res_output(score, avg, under_cnt)

학생 수를 입력하세요 :4
1번 학생의 점수 :1
2번 학생의 점수 :2
3번 학생의 점수 :3
4번 학생의 점수 :4
------------------------------------
 번호 	 점수 	 평균과의 차이
------------------------------------
  1 	 1 	 -1.50
  2 	 2 	 -0.50
  3 	 3 	 0.50
  4 	 4 	 1.50
------------------------------------
전체 평균 : 2.5
------------------------------------
평균 미만자 수 : 2
------------------------------------

In [23]:
class Person:
    name = '아무개'

    def __init__(self, name):
        self.name = name    

    def _info(self):
        print('인스턴스 변수 : ',self.name)

    def info():
        print('클래스 변수 :', Person.name)

In [24]:
p = Person('홍길동')
p.name

'홍길동'

In [18]:
Person.name

'아무개'

In [19]:
p._info()

인스턴스 변수 :  홍길동

In [20]:
Person.info()

클래스 변수 : 아무개

In [24]:
Person.__dict__

mappingproxy({'__module__': '__main__',
              'name': '아무개',
              '__init__': <function __main__.Person.__init__(self, name)>,
              '_info': <function __main__.Person._info(self)>,
              'info': <function __main__.Person.info()>,
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': None})

In [27]:
class Student(Person):
    def study(self):
        print(f'{self.name}님은 열심히 공부합니다.')
        
s1 = Student('홍길동')
s1.study()

홍길동님은 열심히 공부합니다.

In [77]:
class Teacher(Person):
    def teach(self):
        print(f'{self.name}님은 열심히 학생을 가르칩니다..')
        
t1 = Teacher('홍길동')
t1.teach()

홍길동님은 열심히 학생을 가르칩니다..

In [78]:
'abcde'.find('b')

1

In [82]:
def tsn(n):
    n = str(n)
    if n.find('3')==0 or n.find('3')==1:
        return '박수'
    elif n.find('6')==0 or n.find('6')==1:
        return '박수'
    elif n.find('9')==0 or n.find('9')==1:
        return '박수'
    else:
        return int(n)

print(list(map(tsn,range(1,20))))

[1, 2, '박수', 4, 5, '박수', 7, 8, '박수', 10, 11, 12, '박수', 14, 15, '박수', 17, 18, '박수']

In [93]:

with open('./resource/score.txt','r') as f:
    score_list = []
    for line in f:
        score_list.append(int(line.strip()))
    print(score_list)
    score_avg = sum(score_list) / len(score_list)
    print('Average : ',score_avg)

[90, 80, 78, 88, 67]
Average :  80.6

In [ ]:
var1 = 0 

class Abc():
    var2 = 0
    
    def __init__(self, a, b):
        self.a = a
        self.b = b

In [12]:
import random as r

with open('./resource/lotto.txt','w') as f:
    for i in range(6):
        f.write(str(r.randint(1,50)))
        f.write(' ')
    f.write('\n')

In [2]:
# category,상품코드, 상품명, 가격, 상세설명
class Product:
    
    def __init__(self, category, code, p_name, price, description):
        self.category = category
        self.code = code
        self.p_name = p_name
        self.price = price
        self.description = description
        
        
    def print_des(self):
        return f'{self.p_name} 은(는) {self.description}'

In [32]:
tv = Product('가전','tv100','삼성smartTV',1000000,'넷플릭스 볼 수 있는 tv입니다.')
print(tv.p_name)
print(format(tv.price,','))
print(type(format(tv.price,',')))
tv.print_des()

삼성smartTV
1,000,000
<class 'str'>

'삼성smartTV 은(는) 넷플릭스 볼 수 있는 tv입니다.'

In [23]:
refrigerator = Product('가전','re200','삼성냉장고',1200000,'디자인이 이쁜 냉장고입니다.')
print(refrigerator.p_name)
print(refrigerator.price)
refrigerator.print_des()

삼성냉장고
1200000

'삼성냉장고 은(는) 디자인이 이쁜 냉장고입니다.'

In [33]:
# 객체 값들을 리스트로 저장해보자.
prod_list = []
prod_list.append(tv)

In [43]:
print(prod_list)
print()
print(len(prod_list))
print(prod_list[0].print_des())
print(prod_list[0].p_name)

[<__main__.Product object at 0x000001F39EE55708>]

1
삼성smartTV 은(는) 넷플릭스 볼 수 있는 tv입니다.
삼성smartTV

In [9]:
class NewProduct(Product):
    def __init__(self, category, code, p_name, price, description,menufacturer):
        super().__init__(category, code, p_name, price, description)
        self.menufacturer = menufacturer

In [12]:
newp = NewProduct('가전','p200','에어컨',1200000,'시원함','삼성')
print(newp.menufacturer)

삼성

In [13]:
class Parent:
    hobby = '야구'
    number = '010-1234-5678'
    
    def __init__(self, name, age, addr):
        self.name = name
        self.age = age
        self.addr = addr
    def info(self):
        print(f'이름은 {self.name}, 나이는 {self.age}, 주소는 {self.addr}')

In [14]:
p = Parent('홍길동','40','인천')

In [15]:
p.info()

이름은 홍길동, 나이는 40, 주소는 인천

In [16]:
p.hobby

'야구'

In [17]:
class Child(Parent):
    def __init__(self, name, age, addr, hobby):
        super().__init__(name, age, addr)
        self.hobby = hobby

In [21]:
c = Child('자식','23','인천','탁구')
c.info()

이름은 자식, 나이는 23, 주소는 인천

In [19]:
c.hobby

'탁구'

In [20]:
c.number

'010-1234-5678'

In [22]:
with open('./test.txt','w') as f:
    f.write('mdkslkvw;')
    f.write('\n')