In [2]:
treeHit = 0
while treeHit<10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        print('나무 넘어갑니다')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [5]:
prompt = """
... 1. Add
... 2. Del
... 3. List
... 4. Quit
...
... Enter number: """

number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
4

In [6]:
coffee = 10
money = 300
while money:
    print('돈을 받았으니 커피를 줍니다.')
    coffee = coffee - 1
    print('남은 커피의 양은 %d개입니다.' %coffee)
    if coffee == 0:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [7]:
coffee = 10
while True:
    money = int(input('돈을 넣어 주세요: '))
    if money == 300:
        print('커피를 줍니다')
        coffee = coffee -1
    elif money > 300:
        print('거스름돈 %d원을 주고 커피를 줍니다' %(money-300))
        coffee = coffee -1
    else:
        print('돈을 다시 돌려주고 커피를 주지 않습니다.')
        print('남은 커피의 양은 %d개입니다.' %coffee)
    if coffee == 0:
        print('커피가 다 떨어졌습니다. 판매를 중지합니다.')
        break

돈을 넣어 주세요: 300
커피를 줍니다
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다
돈을 넣어 주세요: 50
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 7개입니다.
돈을 넣어 주세요: 10000
거스름돈 9700를 주고 커피를 줍니다
돈을 넣어 주세요: 350
거스름돈 50를 주고 커피를 줍니다
돈을 넣어 주세요: 4560
거스름돈 4260를 주고 커피를 줍니다
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개입니다.
돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개입니다.
돈을 넣어 주세요: 250
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개입니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다
돈을 넣어 주세요: 600
거스름돈 300를 주고 커피를 줍니다
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [9]:
a = 0
while a<10:
    a = a+1
    if a%2 == 0: continue
    print(a)

1
3
5
7
9

In [11]:
a = 0
while a<10:
    a = a+1
    if a%3 == 0:
        continue
    print(a)

1
2
4
5
7
8
10

In [13]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [14]:
a = [(1,2),(3,4),(5,6)]
for(first,last) in a:
    print(first+last)

3
7
11

In [16]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." %number)
    else:
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [18]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생은 합격입니다." %number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [22]:
a = range(10)   # 0부터 10 미만의 숫자
print(a)   # 0,1,2,3,4,5,6,7,8,9

# range(시작숫자, 끝숫자(미만))
a = range(1,11)
print(a)   # 1,2,3,4,5,6,7,8,9,10

range(0, 10)
range(1, 11)

In [24]:
# 1부터 10까지 더한 수
add = 0
for i in range(1,11):
    add = add+i
print(add)

55

In [27]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print('%d번 학생 축하합니다. 합격입니다.' %(number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [34]:
# 구구단
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=' ')
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [36]:
sum = 0
for i in range(0,100):
    i = i+1
    sum += i
print(sum)

5050

In [40]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

# 리스트 내포
# [표현식 for 항목 in 반복가능객체 if 조건]
result = [num*3 for num in a]
print(result)

result = [num*3 for num in a if num%2==0]
print(result)

# 조건이 2개 이상일 때
# [표현식 for 항목1 in 반복가능객체1 if 조건1
#        for 항목2 in 반복가능객체2 if 조건2
#       ...
#        for 항목n in 반복가능객체n if 조건n]

result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [41]:
a = 'Life is too short, you need python'

if 'wife' in a:
    print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' in a:
    print('shirt')
elif 'need' in a:
    print('need')
else:
    print('none')

need

In [42]:
result = 0
i = 1
while i<=1000:
    if i%3 == 0:
        result += i
    i += 1
print(result)

166833

In [43]:
i=0
while True:
    i += 1
    if i>5: break
    print('*'*i)

*
**
***
****
*****

In [44]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [45]:
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [47]:
numbers = [1,2,3,4,5]

result = []
for n in numbers:
    if n%2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [49]:
numbers = [1,2,3,4,5]

result = [n*2 for n in numbers if n%2 == 1]
print(result)

[2, 6, 10]

In [65]:
for i in range(2,10):
    for j in range(1,10):
        print('{} * {} = {a:2d}'.format(i, j, a=i*j))

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [67]:
for i in range(1,10):
    for j in range(2,10):
        print('{} * {} = {a:2d}'.format(j, i, a=i*j),end='\t')
    print()

2 * 1 =  2	3 * 1 =  3	4 * 1 =  4	5 * 1 =  5	6 * 1 =  6	7 * 1 =  7	8 * 1 =  8	9 * 1 =  9
2 * 2 =  4	3 * 2 =  6	4 * 2 =  8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 =  6	3 * 3 =  9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 =  8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [73]:
print('몇 단을 출력할까요: ',end='')
num = int(input())
for j in range(1,10):
    print('{} * {} = {a:2d}'.format(num, j, a=num*j))

몇 단을 출력할까요: 5
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [1]:
print("you" "need" "python")
print("you"+"need"+"python")
print("you","need","python")
print("".join(["you","need","python"]))

youneedpython
youneedpython
you need python
youneedpython

In [2]:
def is_odd(number):
    if number%2==1:
        return True
    else:
        return False

In [6]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result/len(args)

print(avg_numbers(1,2))
print(avg_numbers(1,2,3,4,5))

1.5
3.0

In [7]:
input1 = input('첫번째 숫자를 입력하세요:')
input2 = input('두번째 숫자를 입력하세요:')

total = input1 + input2
print('두 수의 합은 %s 입니다' %total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 36입니다

In [9]:
input1 = input('첫번째 숫자를 입력하세요:')
input2 = input('두번째 숫자를 입력하세요:')

total = int(input1) + int(input2)
print('두 수의 합은 %d 입니다' %total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

In [12]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

print(add_many(1,2))
print(add_many(1,2,3))
print(add_many(1,2,3,4,5,6,7,8,9,10))

3
6
55

In [1]:
class Calculator:
    def __init__(self):
        self.value = 0
        
    def add(self, val):
        self.value += val

In [3]:
class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

In [5]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)

3

In [12]:
class MaxLimitCalculator(Calculator):
    def add(self, val):
        super().add(val)
        if self.value > 100:
            self.value = 100

In [13]:
cal = MaxLimitCalculator()
cal.add(50)
cal.add(60)

print(cal.value)

100

In [14]:
all([1,2,abs(-3)-3])

False

In [15]:
chr(ord('a')) == 'a'

True

In [18]:
hex(234)

'0xea'

In [19]:
int(0xea)

234

In [17]:
num = [1,-2,3,-5,8,-3]
result = list(filter(lambda n:n>0,num))
print(result)

[1, 3, 8]

In [21]:
num = [1,2,3,4]

result = list(map(lambda n: n*3,num))
print(result)

[3, 6, 9, 12]

In [23]:
_list = [-8,2,7,5,-3,5,0,1]
_max = _list[0]
_min = _list[0]

for i in _list[1:]:
    if i>_max:
        _max = _list[i]
    if i<_min:
        _min = _list[i]
        
print(f'최대값은 {_max}, 최소값은 {_min}')

최대값은 7, 최소값은 -8

In [35]:
print(17/3)
# 소수점 4자리까지만 표현
a = 17/3
print(round(a,4))
print('{:.4f}'.format(a))
print(f'{a:.4f}')

5.666666666666667
5.6667
5.6667
5.6667